 
<section class="py-5 text-center container" style="margin-top: 58px">
    <h1 class="display-4 font-weight-normal text-white bg-primary rounded pb-md-2">NOSOTROS</h1>
 <div class="container ">
    <div class="row p-2 mt-3">
        <div class="col-lg-6 mb-2 border-light">
            <div class="ratio ratio-16x9 ">
                <iframe width="560 " height="315" src="https://www.youtube.com/embed/C_S8pmC2KMI"
                    title="YouTube video player " frameborder="0 "
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture "
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 mb-2 border-light">
            <div class="d-flex align-items-start flex-column align-items-center">
                <h3 class="p-2 rounded bg-primary text-white">la mascota de la empresa</h3>
                <img width="150 " height="150" class="img-fluid rounded-circle" src="assets/Img/testimonio3.jpg" alt="">
            </div>
        </div>
    </div>
</div>
</section>

<section class="py-5 text-center container ">

    <div class="container ">
        <h1 class="display-4 font-weight-normal text-primary "> ¿QUIENES SOMOS?</h1>
        <p class=" text-justify text-primary ">Somos una empresa que ofrece servicios de odontología general y
            especializada ubicada en las ciudades de Barranquilla y Cartagena. Prestando nuestros
            servicios a las familias de la Región Caribe. Contamos con instalaciones habilitadas
            ante secretaria de salud, y brindamos seguridad y confianza a nuestros pacientes.</p>
    </div>

 
 
<section class="py-5 text-center container" style="margin-top: 58px">
<div class="container ">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="card h-100 border-light mb-3">
                <img src="assets/Img/valores.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">VALORES</h5>
                    <p class="card-text text-body">Sonrisas, fomenta a todo su personal, staff de odontólogos,
                        personal administrativo, asistentas dentales y técnicos en laboratorio dental, nuestros
                        principales valores, honestidad, laboriosidad, lealtad y respeto.</p>
                </div>
                <div class="card h-100 border-light mb-3 ">
                    <img src="assets/Img/Respnsabilidad.jpeg " class="card-img-top " alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title ">RESPONSABILIDAD SOCIAL PRISMA DENTAL</h5>
                        <p class="card-text text-body ">Sonrisas, esta comprometido con la bioecologia al no utilizar
                            elementos, que contaminen nuestro frágil medio ambiente, así como también, con nuestra
                            participación en campañas, programas sociales tanto para niños mujeres y especialmente
                            al adulto mayor.</p>
                    </div>
                    <div class="card-footer ">
                    </div>
                </div>
            </div>
            
          </div>
          <div class="col">
            <div class="card h-100 border-light mb-3">
                <img src="assets/Img/Mision.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title  ">MISIÓN</h5>
                    <p class="card-text text-body "> Brindar atención dental de calidad y un servicio amigable y
                        personalizado, a todas aquellas personas que nos confían su mejor expresión Sonrisas
                        conformada por un calificado staff de odontólogos de reconocido prestigio con más
                        de 20 años de experiencia profesional graduados de las mejores Universidades de Colombia
                        Nuestro objetivo es brindar calidez humana y satisfacción a nuestros pacientes
                        proporcionándoles una atención en horarios cómodos a través
                        de citas concertadas telefónicamente. Proyectamos nuestro crecimiento sin franquiciar la
                        marca, priorizando y resguardando la mantención de los principales valores y políticas
                        diferenciadores de la empresa, a través de una
                        administración única, cercana y controlada, valorando a cada uno de nuestros pacientes, de
                        la misma manera que valoramos a nuestro equipo de odontólogos, y a nuestro equipo técnico y
                        administrativo.</p>
                </div>
                <div class="card-footer">
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 border-light mb-3">
                <img src="assets/Img/Vision.jpg " class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title  ">VISIÓN</h5>
                    <p class=" text-justify text-body">
                        Ser una clínica dental de vanguardia conformada por un equipo de odontólogos de primer
                        nivel, comprometidos con su actualización continua, beneficiando de esta manera a todas las
                        personas que nos confía su salud dental. Sonrisas, fomenta a todo su personal,
                        staff de odontólogos, personal administrativo, asistentas dentales y técnicos en laboratorio
                        dental, nuestros principales valores, honestidad, laboriosidad, lealtad y respeto.
                    </p>
                </div>
                <div class="card-footer">
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
</section>
</section>




























