 <!--Seccion de Comentarios-->
 
<section class="container">
  <h1 class="text-center display-4 font-weight-normal text-white bg-primary rounded pb-md-2">Comentarios</h1>
    <div class=" border position-relative overflow-hidden pb-md-2 m-md-1 text-center bg-light">
        <div class=" texto1 col-md-5 p-lg-5 mx-auto my-5">
            <h5 class="text-primary">¡Comparte tu opinión con nosotros! </h5>
            <p class=" text-justify  text-primary  ">
                Recuerda que tus comentarios nos ayudan a mejorar y nos motivan a esforzarnos para seguir ofreciendo
                una atención inmejorable. ¿Nos dejas tu opinión? Solo tienes que hacer click en el boton de abajo.
                ¡Apenas te llevará unos instantes y será de gran utilidad
                para nosotros!
            </p>

        </div>
    </div>
</section>

<!--Boton-->
<section class="py-5 text-center container">
    <button id="desplegar-comentario" type="button " class="btn btn-primary " data-bs-toggle="modal "
        data-bs-target="#exampleModal " data-bs-whatever="@mdo ">DEJANOS TU OPINION</button>
</section>
<!--Boton-->
<!--form-->
<form id="form-comentarios" class="d-none container rounded p-3 border-top border-primary bg-primary mb-3 "
    style="max-width: 500px " action="">
    <div class="mb-3 ">
        <input name="nombre" type="text" class="form-control " id="nombre" placeholder="nombre de usuario" required>
    </div>
    <div class="mb-3 ">
        <textarea name="comentario" type="text-area" class="form-control " id="nombre"
            placeholder="comentario a agregar" required></textarea>
    </div>
    <div class="mb-3 ">
        <button id="enviar comentario"
            class="btn btn-primary border-3 border-secondary bg-gradient mb-3 w-100 fs-5 ">Enviar
            comentario</button>
    </div>
</form>
<!--form-->
<div id="seccion de comentarios" class="container-lg p-3 " style="background:rgb(13, 110, 253) ">
    <app-comentario-normal coment="Mi esposo se sometió a una restauración bucal completa, el doctor ue muy minucioso y
    tranquilizador, explicando cada paso a medida que avanzaban en el tratamiento."
     fecha="Sat Sep 18 2009"
     image="assets/Img/comentario1.jpg"
     name="sans" ></app-comentario-normal>


    <app-comentario-normal coment="Acabo de terminar con mis problemas de mandíbula superior con el Dr Fue extremadamente
    profesional y explicó exactamente lo que estaba a punto de hacer antes de cada procedimiento."
     fecha="Sat Sep 18 2009"
     image="assets/Img/comentario4.jpg"
     name="asriel" ></app-comentario-normal>
    

    <app-comentario-normal coment="El servicio brindado para la limpieza bucal y revisión fue muy profesional y amable. Tienen
    protocolos ante el COVID-19 bastante robustos."
     fecha="Tue Sep 06 2013"
     image="assets/Img/comentario2.jpg"
     name="kirts" ></app-comentario-normal>

    <app-comentario-normal coment="Terrie, Kate y yo queremos agradecer a Sonrisas por la fantástica atención que hemos
    recibido." 
     fecha="Mon Oct 7 2021"
     image="assets/Img/comentario3.gif"
     name="ralsei" ></app-comentario-normal>
    
    <app-joker-coment fecha="tu gefa" coment="hola, vengo a funar al poyo"></app-joker-coment>
    

</div>
<!--Seccion de Comentarios-->

<!--Testimonios-->
<section class="py-3 text-center container ">
    <h1 class="display-4 font-weight-normal text-white bg-primary rounded pb-md-2 ">TESTIMONIOS</h1>
</section>
<h4 class="text-center">Conoce la experiencia de nuestros pacientes</h4>
<div class=" " style="background-image: url(' ');">
    <section class="py-3 text-center container ">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card  ">
                    <div class="card">
                        <img class="img " src=" " title="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            <strong>Kirbo:</strong>
                        </h3>
                        <h6 class="text-primary">REHABILITACIÓN ORAL</h6>
                        <p class="card">Estoy muy contento porque yo no veía solución. Hay gente que dice que
                            Sonrisas es pura fama, pero yo te puedo decir que no es fama Son profesionalismo</p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card ">
                    <div class="card">
                        <img class="img " src=" " title="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><strong>Carlos Niño:</strong></h4>
                        <h6 class="text-primary">REHABILITACIÓN ORAL</h6>
                        <p class="card">He mejorado muchísimo porque puedo sonreír con mayor tranquilidad, puedo
                            hablar, cantar, todo lo que implica interactuar con otras personas. A mí siempre que me
                            preguntan por procedimientos odontológicos yo siempre hablo de
                            mi consultorio favorito Sonrisas</p>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card ">
                    <div class="card">
                        <img class="img " src=" " title="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"><strong>Sherry y Mike Miller:</strong></h4>
                        <h6 class="categor text-primary">REHABILITACIÓN ORAL</h6>
                        <p class="card">Mi esposo y yo creemos que tenemos un mejor servicio aquí. Los doctores han
                            sido absolutamente maravillosos. Estamos totalmente satisfechos con las facilidades y el
                            servicio</p>

                    </div>

                </div>
            </div>
        </div>
        
    </section>
</div>