<!-- CONTENT =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">¡Comparte tu opinión con nosotros!</h1>
                <p>
                    Recuerda que tus comentarios nos ayudan a mejorar y nos motivan a esforzarnos para seguir ofreciendo
                    una atención inmejorable. ¿Nos dejas tu opinión? Solo tienes que hacer click en el boton de abajo.
                    ¡Apenas te llevará unos instantes y será de gran utilidad para nosotros!
                </p>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="done">
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Tu mensaje fue enviado. Gracias!
                    </div>
                </div>
                <form id="contactform">
                    <div class="form">
                        <input type="text" name="name" placeholder="Nombre *">
                        <input type="text" name="email" placeholder="Correo Electronico *">
                        <textarea name="comment" rows="7" placeholder="Tu Mensaje *"></textarea>
                        <input type="submit" id="submit" class="clearfix btn" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    

</section>