<!-- CONTENIDO =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">SERVICIOS</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h4>DISEÑO DE SONRISA</h4>
                            <p>
                                “Limpiar, blanquear dientes y mejorar forma, altura de encías” El Diseño de Sonrisa
                                cuenta con una suma de procedimientos y trabajo interdisciplinario que nos permitirán
                                lograr una simetría de balance, funcionalidad y armonía para lograr la mejor estética
                                ideal. </p>
                            <p>
                                <a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> DETALLES</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="assets/Img/periodoncia.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                        <a href="#">
                            <h1>DISEÑO DE SONRISA
                            </h1>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h4>PERIODONCIA</h4>
                            <p>
                                “Uno es lo que decide ser” Nuestras fases higiénicas (Limpiezas) y tratamientos
                                (modificación de encías) de esta especialidad son realizados por profesionales
                                especialistas en periodoncia. Son el primer paso para cuidar tu salud oral. </p>
                            <p>
                                <a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> DETALLES</a>

                            </p>
                        </div>
                        <span class="maxproduct"><img src="assets/Img/ortodoncia.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                        <a href="#">
                            <h1>PERIODONCIA</h1>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h4>BLANQUEAMIENTO DENTAL</h4>
                            <p>
                                “Me gusta el blanco en todo menos en los dientes” Aclaramos la tonalidad de los dientes
                                causada por pigmentaciones o por manchas causadas por medicamentos, traumas dentales,
                                alimentos y bebidas oscuras entre otros. </p>
                            <p>
                                <a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> DETALLES</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="assets/Img/diseno-de-sonrisa.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                        <a href="#">
                            <h1>BLANQUEAMIENTO DENTAL</h1>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h4>PROTESIS DENTAL</h4>
                            <p>
                                “Modificar formas y función para una estética Ideal” Hace parte de Rehabilitación Oral
                                de tu sonrisa. Son tratamientos estéticos y funcionales que te ayudarán a recuperar la
                                forma, ángulos, colores y longitud de tus dientes, de acuerdo a tu rostro y labios.
                                Prótesis y Coronas son los más comunes. </p>
                            <p>
                                <a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> DETALLES</a>

                            </p>
                        </div>
                        <span class="maxproduct"><img src="assets/Img/blanqueamiento-dental.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                        <a href="#">
                            <h1>PROTESIS DENTAL
                            </h1>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h4>CIRUGIA</h4>
                            <p>
                                “Modificar formas y función para una estética Ideal” Se encarga de la prevención,
                                diagnóstico, tratamiento y rehabilitación quirúrgica de las enfermedades, lesiones y
                                defectos de los tejidos blandos y duros de la cavidad oral, maxilar superior, maxilar
                                inferior y la cara.

                            </p>
                            <p>
                                <a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> DETALLES
                                </a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="assets/Img/cirugia-bucal.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                        <a href="#">
                            <h1>CIRUGIA</h1>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="productbox">
                    <div class="fadeshop">
                        <div class="captionshop text-center" style="display: none;">
                            <h4>IMPLANTES</h4>
                            <p>
                                “El arte de Reemplazar un diente perdido” Los implantes están hechos de aleaciones de
                                titanio (específicamente titanio, aluminio, vanadio) con diferentes grados de pureza,
                                que se colocarán en los huesos de los maxilares debajo de las encías. Es muy importante
                                aquí su posición, espacio y conceptualización estética.
                            </p>
                            <p>
                                <a href="#" class="learn-more detailslearn"><i class="fa fa-link"></i> DETALLES</a>
                            </p>
                        </div>
                        <span class="maxproduct"><img src="assets/Img/protesis.jpg" alt=""></span>
                    </div>
                    <div class="product-details">
                        <a href="#">
                            <h1>IMPLANTES
                            </h1>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content-block" style="background-color:#3498DB;">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="item" data-scrollreveal="enter top over 0.4s after 0.1s">
                    <h1 class="callactiontitle"> Mejora Tu Sonrisa <i class="far fa-smile"></i>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</section>