<!-- CONTENT =============================-->
<section class="item content">
    <div class="container toparea">
        <div class="underlined-title">
            <div class="editContent">
                <h1 class="text-center latestitems">DEJANOS TUS DATOS</h1>
            </div>
            <div class="wow-hr type_short">
                <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </span>
            </div>
        </div>
        <div id="edd_checkout_wrap" class="col-md-8 col-md-offset-2">

            <div id="edd_checkout_form_wrap" class="edd_clearfix">
                <form id="edd_purchase_form" class="edd_form" action="#" method="POST">
                    <fieldset id="edd_checkout_user_info">
                        <legend>Datos Personales</legend>
                        <p id="edd-email-wrap">
                            <label class="edd-label" for="edd-email">
                                Correo Electronico <span class="edd-required-indicator">*</span></label>
                            <input class="edd-input required" type="email" name="edd_email"
                                placeholder="Correo Electronico" id="Correo Electronico" value="">
                        </p>
                        <p id="edd-first-name-wrap">
                            <label class="edd-label" for="edd-first">
                                Nombre Completo<span class="edd-required-indicator">*</span>
                            </label>
                            <input class="edd-input required" type="text" name="edd_first"
                                placeholder=" Nombre Completo" id=" Nombre Completo" value="" required="">
                        </p>
                        <p id="edd-last-name-wrap">
                            <label class="edd-label" for="edd-last">
                                Celular </label>
                            <input class="edd-input" type="text" name="text" id="Celular" placeholder="Celular"
                                value="">
                        </p>
                        <p id="edd-last-name-wrap">
                            <label class="edd-label" for="edd-last">
                                Hora </label>
                            <input class="edd-input" type="time" name="text" id="edd-last" placeholder="Last name"
                                value="">
                        </p>
                        <div class="edd-last-name-wrap">
                            <label for="inputState" class="form-label">Sede</label>
                            <select name="localidad" id="inputState" class="form-select">
                                <option>Barranquilla</option>
                                <option>Cartagena</option>
                            </select>
                        </div>

                        <div class="form-check">
                            <input name="resibir" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Deseo recibir información sobre novedades y ofertas
                            </label>
                        </div>
                        <div class="form-check">
                            <input name="terminos" class="form-check-input" type="checkbox" value="" id="defaultCheck2"
                                required>
                            <label class="form-check-label" for="defaultCheck2">
                                Declaro haber leido y aceptar las condiciones generales del programa y la normativa
                                sobre protección de datos
                            </label>

                        </div>
                    </fieldset>
                    <fieldset>
                        <input type="submit" class="edd-submit button" id="edd-purchase-button" name="edd-purchase"
                            value="AGENDAR">
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>