

<app-carrucel-principal></app-carrucel-principal>
<!--Intro-->
<section class="py-5 text-center container ">
    <div class=" border position-relative overflow-hidden pb-md-2 m-md-1 text-center bg-light " id="box ">


        <div class=" texto1 col-md-5 p-lg-5 mx-auto my-5 ">
            <h1 class="display-4 font-weight-normal text-primary "> Bienvenido a Sonrisas</h1>
            <p class=" text-justify text-primary "> En Odontología Sonrisas, contamos con un prestigioso equipo de
                especialistas en todas las áreas de la odontología, altamente calificado, idóneo y competitivo; que
                después de pasar un riguroso proceso de selección entra a ser parte del
                grupo. Nuestra misión es hacer de la odontología especializada una experiencia placentera y de primera
                calidad, orientada a preservar y rehabilitar la salud oral, manteniendo una estética natural, en un
                marco de seguridad y satisfacción.
                para los pacientes, con un talento humano idóneo y competitivo.</p>
        </div>

    </div>
    <!--Intro-->

    

</section>
<!--Slider-->
<!--SERVICIOS-->
<section class="py-5 text-center container ">
    <h1>Conoce lo que nos hace diferentes:</h1>
</section>

<section class="w-100 ">
    <div class="row w-75 mx-auto ">
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap ">
            <img src="assets/Img/pionero.jpeg " alt=" " width="180 " height="160 ">

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1 ">Pioneros en Odontologia</h3>
                <p class="px-4 ">Somos pioneros en Odontología integral y especializada en Colombia.</p>
            </div>

        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap ">
            <img src="assets/Img/experiencia.jpg " alt=" " width="180 " height="160 ">

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap ">Experiencia de mas de 30 años</h3>
                <p class="px-4 ">Odontología orgullosamente colombiana con más de 30 años de experiencia.</p>
            </div>
        </div>
    </div>

    <div class="row w-75 mx-auto mb-5 ">
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap ">
            <img src="assets/Img/calidad.jpg " alt="zzzz " width="180 " height="160 ">

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1 ">Estandares de calidad</h3>
                <p class="px-4 ">Tenemos los mejores estándares de calidad y bioseguridad para brindarte la mayor
                    seguridad durante tu tratamiento.</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap ">
            <img src="assets/Img/especialistas.jpg " alt=" " width="180 " height="160 ">

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1 ">Especialisatas de Calidad</h3>
                <p class="px-4 ">En tu valoración todo nuestro equipo de especialistas, estará disponible para evaluar,
                    analizar y diagnosticar, el camino hacia tu sonrisa soñada.</p>
            </div>
        </div>
    </div>
</section>
<!--SERVICIOS-->

<!--Noticias-->
<section class="py-5 text-center container ">
    <h1 class="display-4 font-weight-normal text-white bg-primary rounded pb-md-2 ">NOTICIAS</h1>
</section>
<section class="py-5 text-center container ">
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <div class="col ">
            <div class="card card border-light mb-3 ">
                <img src="assets/Img/n1.jpeg " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">EL SIGUIENTE PASO DE LA ORTODONCIA: RETENEDORES DENTALES</h5>
                    <p class="card-text ">Enrique Molina - Paciente Marlon Becerra El uso de retenedores dentales es la
                        última etapa de la ortodoncia. Su aplicación garantiza resultados duraderos, ya que sirven para
                        acostumbrar a tus… </p>
                    <div class="card-footer ">
                        <small class="text-muted ">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card card border-light mb-3 ">
                <img src="assets/Img/n2.jpeg " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">CUIDADOS DENTALES DESPUÉS DE LOS 50 AÑOS</h5>
                    <p class="card-text ">Los adultos luchan por mantener sus dientes naturales por más tiempo. Por esta
                        razón, los cuidados dentales se hacen cada vez más cruciales a medida que pasan los años. Si…
                    </p>
                    <div class="card-footer ">
                        <small class="text-muted ">Last updated 10 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card card border-light mb-3 ">
                <img src="assets/Img/n3.jpeg " class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">MEJORA TU SONRISA Y DILE ADIÓS A LOS DIENTES CON MANCHAS BLANCAS</h5>
                    <p class="card-text ">Gladys Méndez - Paciente Marlon Becerra Una causa común de incomodidad con la
                        sonrisa es tener dientes con manchas blancas. Estamos acostumbrados a tonalidades uniformes de
                        blanco, crema o gris,…</p>
                    <div class="card-footer ">
                        <small class="text-muted e ">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Noticias-->

<!--FORMULARIO-->
<div class="container p-3 border-top border-primary bg-primary mb-3 " style="max-width: 500px ">
    <div class="text-center mb-4" id="titulo-formulario ">
        <div class="d-flex justify-content-center">
            <img src="assets/Img/Contactanos.jpg " alt=" " class="img-fluid rounded" style="max-width: 10rem ">
        </div>
        <h2 class=" text-white ">Contactanos</h2>
        <p class=" fs-5 text-white ">Estamos aqui para hacer realidad de tus sueños</p>
    </div>
    <form id="form" action="">
        <div class="mb-3 ">
            <input name="email" type="email" class="form-control " id="email" placeholder="nombre@ejemplo.com" required>
        </div>


        <div class="mb-3 ">
            <input name="nombre" type="text" class="form-control " id="nombre" placeholder="nombre" required>
        </div>


        <div class="mb-3 ">
            <input name="telefono" type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Teléfono " required>
        </div>

        <div class="mb-3 ">
            <textarea name="text" class="form-control " id="msj" rows="4 " required></textarea>
        </div>

        <div class="mb-3 d-flex justify-content-center">
            <div id="request" class="text-white font-weight-bold p-2 rounded"></div>
        </div>

        <div class="mb-3 ">
            <button type="button " class="btn btn-primary border-3 border-secondary bg-gradient mb-3 w-100 fs-5 ">Enviar
                Mensaje</button>
        </div>
    </form>

</div>
