<div class="col">
    <div class="card ">
        <div class="card">
            <img class="img " src=" " title="">
        </div>
        <div class="card-body">
            <h4 class="card-title"><strong>Sherry y Mike Miller:</strong></h4>
            <h6 class="categor text-primary">REHABILITACIÓN ORAL</h6>
            <p class="card">Mi esposo y yo creemos que tenemos un mejor servicio aquí. Los doctores han
                sido absolutamente maravillosos. Estamos totalmente satisfechos con las facilidades y el
                servicio</p>
        </div>
    </div>
</div>